PORT=3000
NODE_ENV=development
JWT_SECRET=replace_me
DB_HOST=192.168.88.188
DB_PORT=3306
DB_USER=student20
DB_PASSWORD=Ggesggvp1$
DB_NAME=db_student20
START_CASH=1500
MORTGAGE_GRACE_TURNS=40
MORTGAGE_STEP_PERCENT=5
